@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  footer {
    width: 100% !important;
    background-color: #f0f0f0; /* Example background color */

    max-width: 100% !important;
  }
  /* Add this to your global stylesheet or Tailwind CSS configuration */
@keyframes shimmer {
  0% {
      background-position: -1000px 0;
  }
  100% {
      background-position: 1000px 0;
  }
}

.animate-shimmer {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.2) 75%);
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite;
}

/* Add this to your CSS file or Tailwind config */
.task-modal-content {
  overflow: hidden; /* Ensure modal content doesn’t overflow */
}

.image-preview-container {
  max-height: 200px; /* Set a max height for the preview container */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds max height */
  border: 1px solid #ddd; /* Optional border around the image preview */
  padding: 5px; /* Optional padding */
}

.image-preview {
  max-width: 100%; /* Ensure image does not exceed container width */
  max-height: 100%; /* Ensure image does not exceed container height */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
}

.custom-file-button {
  background-color: #444;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.custom-file-button:hover {
  background-color: #555;
}
